.navbar {
    background-color: rgb(251, 199, 199);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    margin: 10px;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #EE4E34; 
    font-weight: bold;
    font-size: 23px;
}

.navbar .nav-link:hover {
    border-radius: 15px;
    background-color: #EE4E34; 
    color: white;
}

.navbar .logo-container {
    display: flex;
    align-items: center;
}

.navbar .circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.navbar .logo-text {
    font-size: 24px;
    color: #EE4E34;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-collapse {
        display: none;
    }
    .navbar-toggler {
        display: block;
    }
}
